* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url(/img/Canva-1.jpg);
  background-size: cover;
  background-position: center center;
}

.menu {
  height: 48px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.menu_section {
  display: flex;
  align-items: center;
}

.menu_section.left .logo {
  height: 7rem;
  margin-top: 1rem;
  padding: 12px 0;
}

.menu_link {
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 900;
  color: #ffffff;
  padding: 12px 8px;
}

.menu_link:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu_section.right {
  margin-right: 4px;
  padding: 12px;
}

.menu_section.right > button {
  width: 5rem;
  height: 2rem;
  background: transparent;
  border: 1.5px solid #ffffff;
  margin-right: 1rem;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.menu_section.right > button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu_section2.right > button {
  width: 5rem;
  height: 2rem;
  background: #ffffff;
  border-radius: 5px;
  border: 1.5px solid #ffffff;
  cursor: pointer;
}

.menu_section2.right > button:hover {
  background: rgba(0, 0, 0, 0.1);
}

.content {
  display: block;
  margin-left: 800px;
  margin-top: 90rem;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 30%) 0px 0px 8px;
  padding-top: 1rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  margin-top: 8rem;
  height: 600px;
  width: 400px;
  border-radius: 15px;
}

.content > h1 {
  font-size: 25px;
  text-align: center;
}

.content > a {
  display: inline-block;
  margin-left: 1rem;
  margin-top: 2rem;
  color: black;
  background: rgba(0, 0, 0, 0.1);
  width: 20rem;
  height: 2rem;
  text-align: center;
  padding-top: 0.5rem;
  border-radius: 5px;
}

.content > input {
  display: block;
  margin-top: 2rem;
  margin-left: 1rem;
  width: 20rem;
  height: 2rem;
  border-radius: 5px;
}

.botao > button {
  margin-top: 2rem;
  margin-left: 1rem;
  width: 20rem;
  height: 2.5rem;
  color: #ffffff;
  background: purple;
  font-size: 25px;
  font-weight: 600;
  border-radius: 2px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.content_final > a {
  color: rgba(0, 0, 0, 0.58);
  text-decoration: underline;
}

.content_final > p {
  margin-top: 1rem;
}

.content_final > p a {
  text-decoration: underline;
}

.footer {
  margin-top: 24px;
  display: flex;
}

.footer_termo > a {
  margin-left: 1500px;
  margin-top: 3rem;
  display: flex;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
}

.footer_lingua > select {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  background: rgba(0, 0, 0, 0.3);
  width: 10rem;
  height: 3rem;
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
}